.navbar-links {
      list-style-type: none;
      display: flex;
    }
    
    .navbar-links li a {
      display: block;
      text-decoration: none;
      color: #444;
      font-size: 15px;
      padding: 20px 20px;
      font-weight: 700;
      transition: 0.4s all;
    }

    .navbar-links li.navbar-dropdown {
      position: relative;
    }

    .navbar-links li.navbar-dropdown:hover .dropdown {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }

.navbar-links li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: 400px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  z-index: 111;
  transition: 0.4s all;
}


.navbar-links li.navbar-dropdown .dropdown a {
  /* padding-top: 10px;
  padding-bottom: 10px; */
  font-weight: 400;
}

/* Title Link */
.title_link{
  font-weight: bold;
  text-align: justify;
}


.desc_link{
  font-weight: 400;
  text-align: justify;
}

.navbar-links li a:hover {
  color: #ff3f34;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  /* background-color: #f00; */
  background-image: url("http://lorempixel.com/1366/698/food/");
  background-size: cover;
}

.header-inner {
  text-align: center;
  color: #ff3f34;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
}

.header-inner h1 {
  font-family: "Great Vibes", cursive;
  font-size: 130px;
}

.header-inner form input[type="search"] {
  position: relative;
  width: 500px;
  border: none;
  padding: 15px;
  border-radius: 27px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
  z-index: 11;
}
.header-inner form input[type="search"]:focus {
  outline: none;
}

.header-inner form input[type="search"]:focus + div {
  z-index: 1;
  opacity: 1;
}

::placeholder {
  color: #666;
  font-weight: 400;
}

.login
{
  background-color: #ff3f34;
  border: none;
}

.login:hover{
  background-color: white;
  color: #ff3f34;
}